*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px black solid; */
}
body {
    background-color: orange;
}
.container {
    max-width: 100%;
    margin:  50px auto;
    padding:0.375rem 0.75rem ;
}
h1 {
    text-align: center;
}
.main  {
    display: flex;
    justify-content: space-around;
}
.input {
    display: inline-block;
    max-width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 0.35rem;
    appearance: none;
    border: 1px solid black;
    color: rgb(27, 27, 27);
    font-family: sans-serif;
    font-size: 1rem;
}
.button {
    padding: 0.375rem 0.75rem;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(241, 238, 18);
}
.button:hover {
    background-color: rgb(247, 178, 49);
}
/*  */